*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --backgroundbigColor: #041431;
  --backgroundDivColor: #122349;
  --backgroundsmallColor: #566989;
  --texttodoColor: #00CBC4;
  --textColor: #FFFFFF; 
}

.container {
    flex-direction: column;
    background-color: var(--backgroundbigColor);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleText {
    background: linear-gradient(to bottom, #566989 0%, #7bdcb5 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    padding-bottom: 10px;
  }

  .titleText span {
    background: linear-gradient(to left, #566989 0%, #7bdcb5 100%);
    background-position: 0 100%;
    background-size: 100% 3px;
    background-repeat: repeat-x;
  }