:root {
    --backgroundbigColor: #041431;
    --backgroundDivColor: #122349;
    --backgroundsmallColor: #566989;
    --texttodoColor: #00CBC4;
    --textColor: #FFFFFF; 
  }

.todo {
    background-color: var(--backgroundsmallColor);
    margin: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
}

.todo:hover {
    background-color: var(--backgroundbigColor);
    transition: 0.3s;
}

.todo h4{
    font-size: 18px;
    font-family: roboto;
}

.todo p {
    color: var(--textColor);
    font-size: 15px;
    padding-top: 5px;
    font-family: roboto;
}

.btn{
    background-color: transparent;
    color: #b71c1c;
    border-color: #d32f2f;
    border-radius: 5px;
    cursor: pointer;
}
